<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
      <add name="ConnectionString" connectionString="Data Source=DESKTOP-2TNRKLJ;Initial Catalog=Image_db; user=sa; password=tiger" />
    </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Crousel.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
