<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=DESKTOP-UPTGN1N\SQLEXPRESS;Initial Catalog=cashlessbazar_masterdb_YB0618; user=sa; password=Passw0rd@123" />-->
    <add name="ConnectionString" connectionString="Data Source=DESKTOP-2TNRKLJ;Initial Catalog=Image_db; user=sa; password=tiger" />
    <!--<add name="ConnectionString" connectionString="Data Source=192.99.201.37;Initial Catalog=cashlessbazar_masterdb; user id=cashlessbazar_sqlusr; password=~Passw0rd@1234_7890!;" />-->
  </connectionStrings>
</configuration>
